[handlers]
keys=logfile,stdout,email

[formatters]
keys=standard

[loggers]
keys=root

[formatter_standard]
format=%(asctime)s %(levelname)s %(message)s

[handler_logfile]
class=FileHandler
formatter=standard
level=INFO
args=('riskmodel.log', 'w')

[handler_email]
class=handlers.BufferingSMTPHandler
level=INFO
formatter=standard
args=('exchange.axiomainc.com', 'ops-rm@axiomainc.com', ['research-rm@axiomainc.com'], 'Model reports')

[handler_stdout]
class=StreamHandler
level=INFO
formatter=standard
args=(sys.stdout,)

[logger_root]
level=NOTSET
handlers=logfile,stdout,email
