CALL SYSCS_UTIL.SYSCS_IMPORT_DATA(null,'INDEX', 'NAME,DESCRIPTION,UNIT', null, '@@dump@@/Index-@@index@@_Index', '|', null, null, 1);

CALL SYSCS_UTIL.SYSCS_IMPORT_DATA(null,'INDEX_EXPOSURE', null, null, '@@dump@@/Index-@@index@@_Index_exposure', '|', null, null, 1);

ALTER TABLE INDEX_EXPOSURE DROP CONSTRAINT IDXEXP_INDEX_REF;
ALTER TABLE INDEX_EXPOSURE DROP CONSTRAINT AXIOMAID_INDEXID_PK;
ALTER TABLE INDEX DROP CONSTRAINT INDEX_PK;
ALTER TABLE INDEX DROP CONSTRAINT INDEX_NAME_UQ;
jdbc:derby:;shutdown=true;
