                           dontStandardiseDescriptor,dontCloneDescriptor,fillMissing,fillWithZero,wideClone,shrink,standardise,
Book to Price Annual,                               ,                   ,           ,            ,     True,      ,        Glo,
Debt to Assets Annual,                              ,                   ,           ,            ,     True,      ,        Glo,
Debt to Equity Annual,                              ,                   ,           ,            ,     True,      ,        Glo,
Earnings Growth Annual,                             ,                   ,           ,            ,     True,      ,        Glo,
Sales Growth Annual,                                ,                   ,           ,            ,     True,      ,        Glo,
Return on Equity Annual,                            ,                   ,           ,            ,     True,      ,        Glo,
Return on Assets Annual,                            ,                   ,           ,            ,     True,      ,        Glo,
Cash Flow to Assets Annual,                         ,                   ,           ,            ,     True,      ,        Glo,
Cash Flow to Income Annual,                         ,                   ,           ,            ,     True,      ,        Glo,
Sales to Assets Annual,                             ,                   ,           ,            ,     True,      ,        Glo,
Gross Margin Annual,                                ,                   ,           ,            ,     True,      ,        Glo,
Earnings to Price Annual,                           ,                   ,           ,            ,     True,      ,        Glo,
Est Earnings to Price Annual,                       ,                   ,           ,            ,     True,      ,        Glo,
Dividend Yield Annual,                          True,               True,           ,        True,         ,      ,        Glo,
Log of Issuer Cap,                                  ,                   ,           ,            ,     True,      ,        Glo,
Log of 20-Day ADV to Issuer Cap,                    ,                   ,           ,            ,         ,    20,        Glo,
Log of 60-Day ADV to Issuer Cap,                    ,                   ,           ,            ,         ,    60,        Glo,
Amihud Liquidity 60 Day,                            ,                   ,           ,            ,         ,    20,        Glo,
Amihud Liquidity 125 Day,                           ,                   ,           ,            ,         ,    60,        Glo,
Returns to Trading Days,                            ,                   ,           ,            ,         ,    60,        Glo,
APxJP Regional Market Sensitivity 250 Day,          ,                   ,           ,            ,         ,   250,        Glo,
APxJP Regional Market Sensitivity 500 Day,          ,                   ,           ,            ,         ,   250,        Glo,
APxJP Volatility 60 Day,                            ,                   ,           ,            ,         ,    60,        Glo,
APxJP Volatility 125 Day,                           ,                   ,           ,            ,         ,   125,        Glo,
Exchange Rate Sensitivity 52 Week XDR,              ,                   ,           ,            ,         ,   250,        Glo,
Exchange Rate Sensitivity 104 Week XDR,             ,                   ,           ,            ,         ,   500,        Glo,
Monthly Return,                                     ,                   ,           ,            ,         ,      ,        Glo,
Annual Return Excl Prev Month,                      ,                   ,           ,            ,         ,   250,        Glo,
