                           dontStandardiseDescriptor,dontCloneDescriptor,fillMissing,fillWithZero,wideClone,shrink,standardise,
Value,                                              ,                   ,       True,            ,     True,      ,        Reg,
Leverage,                                           ,                   ,       True,            ,     True,      ,        Reg,
Growth,                                             ,                   ,       True,            ,     True,      ,        Reg,
Profitability,                                      ,                   ,       True,            ,     True,      ,        Reg,
Earnings Yield,                                     ,                   ,       True,            ,     True,      ,        Reg,
Dividend Yield,                                 True,               True,           ,        True,         ,      ,        Reg,
Size,                                               ,                   ,           ,            ,     True,      ,        Glo,
Liquidity,                                          ,                   ,           ,            ,         ,   60 ,        Glo,
Market Sensitivity,                                 ,                   ,           ,            ,         ,   104,        Glo,
Volatility,                                         ,                   ,           ,            ,         ,   125,        Glo,
Medium-Term Momentum,                               ,                   ,           ,            ,         ,   250,        Glo,
Exchange Rate Sensitivity,                          ,                   ,           ,            ,         ,   500,        Glo,
