                                                 dontStandardiseDescriptor,dontCloneDescriptor,fillMissing,fillWithZero,wideClone,shrink,standardise,
US 10Y Interest Rate Sensitivity 104W (net of market),True,,,,,,No,
US 10Y Interest Rate Sensitivity 104W,True,,,,,,No,
US 6M Interest Rate Sensitivity 104W (net of market),True,,,,,,No,
US 6M Interest Rate Sensitivity 104W,True,,,,,,No,
US Term Spread Sensitivity 104W (net of market),True,,,,,,No,
US Term Spread Sensitivity 104W,True,,,,,,No,
US Credit Spread Sensitivity 104W (net of market),True,,,,,,No,
US Credit Spread Sensitivity 104W,True,,,,,,No,
Oil Sensitivity 104W (net of market),True,,,,,,No,
Oil Sensitivity 104W,True,,,,,,No,
Gold Sensitivity 104W (net of market),True,,,,,,No,
Gold Sensitivity 104W,True,,,,,,No,
Commodity Sensitivity 104W (net of market),True,,,,,,No,
Commodity Sensitivity 104W,True,,,,,,No,
US BEI Sensitivity 104W (net of market),True,,,,,,No,
US BEI Sensitivity 104W,True,,,,,,No,
GB 10Y Interest Rate Sensitivity 104W (net of market),True,,,,,,No,
GB 10Y Interest Rate Sensitivity 104W,True,,,,,,No,
JP 10Y Interest Rate Sensitivity 104W (net of market),True,,,,,,No,
JP 10Y Interest Rate Sensitivity 104W,True,,,,,,No,
EU 10Y Interest Rate Sensitivity 104W (net of market),True,,,,,,No,
EU 10Y Interest Rate Sensitivity 104W,True,,,,,,No,
GB 6M Interest Rate Sensitivity 104W (net of market),True,,,,,,No,
GB 6M Interest Rate Sensitivity 104W,True,,,,,,No,
JP 6M Interest Rate Sensitivity 104W (net of market),True,,,,,,No,
JP 6M Interest Rate Sensitivity 104W,True,,,,,,No,
EU 6M Interest Rate Sensitivity 104W (net of market),True,,,,,,No,
EU 6M Interest Rate Sensitivity 104W,True,,,,,,No,
GB Term Spread Sensitivity 104W (net of market),True,,,,,,No,
GB Term Spread Sensitivity 104W,True,,,,,,No,
JP Term Spread Sensitivity 104W (net of market),True,,,,,,No,
JP Term Spread Sensitivity 104W,True,,,,,,No,
EU Term Spread Sensitivity 104W (net of market),True,,,,,,No,
EU Term Spread Sensitivity 104W,True,,,,,,No,
GB Credit Spread Sensitivity 104W (net of market),True,,,,,,No,
GB Credit Spread Sensitivity 104W ,True,,,,,,No,
JP Credit Spread Sensitivity 104W (net of market),True,,,,,,No,
JP Credit Spread Sensitivity 104W,True,,,,,,No,
EU Credit Spread Sensitivity 104W (net of market),True,,,,,,No,
EU Credit Spread Sensitivity 104W,True,,,,,,No,
